Package: dingux-cap32
Version: 
Description: RetroGame port of Dingux Cap32
Section: emus
Priority: optional
Maintainer: pingflood
Architecture: mipsel
Homepage: https://github.com/pingflood/dingux-cap32
Depends:
Source: https://github.com/pingflood/dingux-cap32
